.place__title {
  margin: 0;
  font-size:32px;
}

@media screen and (min-width: 320px) {
  .place__title {
    margin-left: 16px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .place__title {
    /* width: 260px; */
    min-height: 92px;
    margin-bottom: 48px;
    font-size: 42px;
    line-height: 46px;
    grid-area: title;
  }
}

@media screen and (min-width: 1028px) {
  .place__title {
    width: 460px;
    margin-bottom: 48px;
    min-height: 92px;
    font-size: 72px;
    line-height: 76px;
    grid-area: title;
  }
}
@media screen and (min-width: 1280px) {
  .place__title {
    width: 460px;
    min-height: 92px;
    font-size: 72px;
    line-height: 76px;
    grid-area: title;
  }
}