.place__title {
  margin: 0 16px 0 16px;
  font-size:32px;
}

@media screen and (min-width: 768px) {
  .place__title {
    /* width: 260px; */
    min-height: 92px;
    margin-left:24px;
    font-size: 42px;
    line-height: 46px;
  }
}