
.page {
  min-width: 320px;
  max-width: 1280px;
  margin: auto;
  position: relative;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  background-color: #2A2C2F;
  -webkit-font-smoothing: antialiased;
}
/* @media all and (min-width: 320px) {
  .page {

  }
} */