.page {
  min-width: 320px;
  max-width: 1280px;
  margin: auto;
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  background-color: #2A2C2F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  text-rendering: optimizeLegibility; 
}