.photo-grid {
  margin-top: 64px;
  display: grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(12, auto);
  justify-content: center;
  align-items: center;
  gap: 12px 16px;
}

@media screen and (min-width:768px) {
  .photo-grid {
    margin-top: 88px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
    gap: 12px 16px;
  }
}

@media screen and (min-width:1024px) {
  .photo-grid {
    margin-top: 92px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 14px 14px;
  }
}

@media screen and (min-width:1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    gap: 16px 16px;
    margin: 92px 0px 0 0px;
  }
}