.places {
  display: grid;
  margin-top: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  align-items: center;
  /* row-gap: 49px; */
}

@media screen and (min-width:768px) {
  .places {
    margin-top: 108px;
    grid-template-rows: minmax(46px, auto-fill) repeat(4, auto);
    row-gap: 43px;
  }
}

@media screen and (min-width:1024px) {
  .places {
    margin-top: 55px;
    gap: 35px;
  }
}
