.places {
  margin-top: 64px;
  display: grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width:768px) {
  .places {
    margin-top: 88px;
    gap: 72px;
  }
}

@media screen and (min-width:1028px) {
  .places {
    margin-top: 96px;
    gap: 80px;
  }
}
