.header__links {
  display: flex;
  align-self: flex-start;
  margin-top: 30px;
  margin-right: 16px;
  padding-left: 0;
  list-style: none;
  text-decoration-line: none;
}

@media screen and (min-width: 768px) {
  .header__links {
    margin-top: 46px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header__links {
    margin-right: 48px;
  }
}