.place__image {
  width: 320px;
  height: 320px;
}

@media screen and (min-width: 768px) {
  .place__image {
    margin-left: 24px;
    width: calc(320px + 20px);
    height: calc(320px + 20px);
    grid-area: image;
  }
}