.intro__list {
  margin: 0 16px 0 16px;
  padding-left: 0;
  list-style-type: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (min-width:768px) {
  .intro__list {
    margin-left: 24px;
  }
}