.footer__author {
  margin: 0;
  padding: 48px 0 24px 16px;
  font-size: 14px;
  line-height: 14px;
}

@media screen and (min-width: 768px) {
  .footer__author {
    margin-right: 66px;
    margin-bottom: 0;
    padding: 0;
    line-height: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__author {
    margin-right: 115px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__author {
    margin-right: 66px;
  }
}