.footer__link {
  color: #fff !important;
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .footer__link {
    width: 50px;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
  }
}