.lead__title {
  margin: 0 16px 13px 16px;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 0 1px #000, 
  0 1px 1px #000, 
  -1px 0 1px #000, 
  0 -1px 1px #000;
}


@media screen and (min-width:768px) {
  .lead__title {
    text-shadow: none;
    max-width: 720px;
    width: 100%;
    margin-bottom: 32px;
    font-size: 96px;
    line-height: 100px;
  }
}
@media screen and (min-width:1024px) {
  .lead__title {
    margin-left: 0;
    margin-right: 0;
    letter-spacing: 1px;
  }
}

@media screen and (min-width:1280px) {
  .lead__title {
    margin-top: 8px;
    margin-bottom: 33px;
    letter-spacing: 3px;
  }
}