.logo { 
  width: 142px;
  height: 42px;
  position: relative;
  top: 16px;
  left: 16px;
}

@media screen and (min-width:768px) {
  .logo {
    width: 176px;
    height: 52px;
    top: 1.75em;
    left: 1.5em;
  }
}

@media screen and (min-width:1024px) {
  .logo {
    top: 28px;
    left: 48px;
  }
}