.place__paragraph {
  display: grid;
  margin: 0 16px 0 16px;
  font-size: 16px;
  line-height: 163%;
  grid-template-rows: repeat(2, auto);
  row-gap: 25px;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    margin: 0;
  }
  .place__paragraph::nth-child(1) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 163%;
    grid-template-rows: repeat(2, auto);
    row-gap: 27px;
  }
}