.place__paragraph {
  margin: 0 16px 0 16px;
  font-size: 16px;
  line-height: 163%;
  grid-area: paragraph;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    margin: 0;
  }
}

@media screen and (min-width: 1028px) {
  .place__paragraph {
    margin: 0;
    font-size: 18px;
    line-height: 163%;
  }
}