.footer__copyright {
  margin: 0;
  padding: 48px 0 24px 16px;
  font-size: 14px;
  line-height: 14px;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 0;
    line-height: 16px;
    margin-right: 24px;
  }
}