.lead__image {
  width: 100vw;
  height: 62.5vw;
}

/* 320 200 */
@media screen and (min-width: 1024px) {
  .lead__image {
    width: calc(100vw/2 + (928px - 100vw/2));
    height: calc(62.5vw/2 + (580px - 62.5vw/2));
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    width: 984px;
    height: 615px;
  }
}