.intro__text {
  margin: 0 16px 33px 16px;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (min-width: 768px) {
  .intro__text {
    min-width: 720px;
    margin: 0 0 34px 0;
  }
}
@media screen and (min-width: 1028px) {
  .intro__text {
    max-width: 690px;
  }
}