.lead__subtitle {
  margin: 0 16px 40px 16px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media screen and (min-width:768px) {
  .lead__subtitle {
    max-width: 640px;
    width:100%;
    margin-bottom: 56px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width:1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (min-width:1280px) {
  .lead__subtitle {
    margin-bottom: 63px;
  }
}

