.lead__subtitle {
  margin: 0 16px 40px 16px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media screen and (min-width:768px) {
  .lead__subtitle {
    width: 640px;
    margin-bottom: 56px;
    font-size: 30px;
    line-height: 36px;
  }
}