.cover {
  position: relative;
  margin-top: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 200px;
  background-image: url("../../sprint-3-images/cover-trains.jpg");
  background-size: 320px 200px;
  /* -webkit-filter: brightness(40%);
  filter: brightness(40%); */
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover:hover::before { 
  opacity: 0.8;
}