.cover {
  max-width: 1184px;
  min-height: 200px;
  position: relative;
  margin-top: 38px;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .cover {
    margin-top: 63px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px){
  .cover {
    margin: 86px auto 0 auto;
  }
}