.cover {
  max-width: 1184px;
  min-height: 200px;
  position: relative;
  margin-top: 66px;
  background-image: url("../../images/cover-trains.jpg");
  background-size: 100vw 62.5vw;
  background-position:center;
  background-repeat: no-repeat;
  box-sizing: border-box; 
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 786px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 98px;
    margin-left: auto;
    margin-right: auto;  
  }
}

@media screen and (min-width: 1280px){
  .cover {
    margin: 0 auto;
    background-size: 1184px 740px;
  }
}