.place__link:nth-child(2) {
  display: none;
}

@media screen and (min-width:768px) {
  .place__link {
    font-size: 18px;
    line-height: 22px;

  }
  .place__link::before {
    text-decoration-line: underline;
    display: block;
  }
  .place__link:nth-child(2) {
    display: block;
  }
}