.lead__caption {
  margin: 8px 0 0 16px;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  justify-self: flex-start;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    min-width:928px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    min-width:984px;
    margin-left: auto;
  }
}