.lead__caption {
  margin: 8px 0 0 16px;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}