.cover__title {
  margin: 0;
  margin-bottom: 16px;
  max-width: 250px;
  width:100%;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  position: relative;
}

@media screen and (min-width:768px) {
  .cover__title {
    margin-bottom: 32px;
    max-width: 550px;
    width:100%;
    font-size: 72px;
    line-height: 76px;
  }
}