@media screen and (min-width:768px) {
  .place {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    grid-template-areas: 
    "title website"
    "image paragraph_position_top"
    "image paragraph_position_bottom";
    column-gap: 24px;
    padding: 0 24px 0 24px;
  }
}

@media screen and (min-width:1024px) {
  .place {
    grid-template-columns: 440px 423px;
    padding: 0 48px 0 48px;
  }
}
