@media screen and (min-width:768px) {
  .place {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* grid-template-rows: repeat(auto-fill, auto); */
    justify-content: center;
    grid-template-areas: 
    "title website"
    "image paragraph_position_top"
    "image paragraph_position_bottom";
  }
}