@media screen and (min-width:768px) {
  .place {
    display: grid;
    grid-template-columns: 340px 352px;
    grid-template-rows: 92px max-content;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* grid-auto-flow: dense; */
    grid-template-areas: 
    "title website"
    "image paragraph"
    ". paragraph";
    column-gap: 28px;
  }
}

@media screen and (min-width:1024px) {
  .place {
    grid-template-columns: 440px 423px;
    padding: 0 48px 0 48px;
  }
}
