.footer {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    padding: 0 24px 24px 24px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 92px;
    padding:0 48px 24px 48px;
  }
}