.footer {
  margin-top: 64px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    margin: 87px auto 0 auto;
    padding: 0 24px 24px 24px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 91px;
    padding:0 48px 24px 48px;
    align-items:flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
    margin: 91px auto auto auto;
    padding:0 48px 24px 48px;
  }
}