.place__url-heading:nth-child(1) {
  display: none;
  font-size: 12px;
  line-height: 12px;
}
@media screen and (min-width:768px) {
  .place__url-heading {
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #AAA;
    margin: 5px 0 12px 0;
  }
  .place__url-heading:nth-child(1) {
    display: block;
  }
}