.footer__column-links {
  margin: 0;
  padding-left: 0;
  margin-left: 16px;
  list-style-type: none;
  display: grid;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .footer__column-links {
    gap: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: space-between;
    margin-left: 0;
    margin-right: 0;
  }
}

