.photo-grid__image {
  width: 90vw;
  height: 75vw;
}

@media screen and (min-width:768px) {
  .photo-grid__image {
    width: 45vw;
    height: 37.5vw;
  }
}

@media screen and (min-width:1024px) {
  .photo-grid__image {
    width: 300px;
    height: 225px;
  }
}