.intro__title{
  width: 207px;
  margin: 0 16px 36px 16px;
  font-size: 32px;
  line-height: 35px;
}

@media screen and (min-width:768px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    margin: 0 24px 40px 24px;
  }
}