.intro__title{
  margin: 0 16px 39px 16px;
  font-size: 32px;
  line-height: 35px;
}

@media screen and (max-width:320px) {
  .intro__title{
    max-width: 207px;
    width: 100%;
  }
}

@media screen and (min-width:768px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 40px 0;
  }
}