.intro__title{
  margin: 0 16px 39px 16px;
  font-size: 32px;
  line-height: 35px;
  max-width: 209px;
  width: 100%;
}

@media screen and (min-width:768px) {
  .intro__title {
    min-width: 720px;
    width: 100%;
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 40px 0;
    letter-spacing: 0.3px;
  }
}